<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Inventario</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2>Formulario de Vehículo</h2>
    <form method="post" action="" id="formulario" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "form-group">
          <table>
            {% for field in form %}
              <tr class="form-label">
                <th class ="form-control">{{field.label_tag}}</th>
                <td >
                  {{ field.errors }}
                  {{ field }}
                </td>
              </tr>
            {% endfor %}
          </table>
          
        </div>
         <button type="submit" class="btn btn-primary">Enviar</button>
         <button type="button" class="btn btn-secondary" onclick="limpiarFormulario()">Limpiar</button>
       </form>
       <div class="alert alert-success" role="alert">
            {{ mensaje }}
       </div>
  </div>
</body>
</html>