<!DOCTYPE html>
<html lang="en">
    {% load static %} 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">  
    </head>
    <body>
        <div class="topPagJuego">
             
        </div> 
        <div class="contenedorPagJuego"> 
            {% for libro in libros %}  
            <img src={{libro.imagen.url}} alt="Accion" class="ImgJuego"/>
            <div class="textoPagJuego"> 
                <p>Inicia sesion para agregar elemento al carrito </p>
                <p class="tituloJuego">{{libro.nombre}}</p>
            </div>
            <div class="precioPagJuego">
                <p>Precio: {{libro.precio}} </p>
                <p class="precioJuego">Agregar al carrito</p>
            </div>
            {% endfor %}
        </div>
    </body>
    </html>